@model DyBlog.Models.SosyalMedya

@{
    ViewBag.Title = "CreateSocial";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="box-body">

        <div class="form-group">
            @Html.LabelFor(model => model.sosClass)
            @Html.DropDownListFor(model => model.sosClass, (SelectList)ViewBag.Socials, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sosClass)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adi)
            @Html.TextBoxFor(model => model.Adi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Adi)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrlAdres)
            @Html.TextBoxFor(model => model.UrlAdres, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UrlAdres)
        </div>

    </div>

    <div class="box-footer">
        <input type="submit" class="btn btn-primary" value="Ekle" />
    </div>

}

