@model DyBlog.Models.Uye

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üye Profil</h2>

<div>
    <hr />

    <table id="muslumTable">
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.Yetki.Yetki1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>

            <th>
                Fotoğraf
            </th>
            <th>
                İşlem
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Yetki.Yetki1)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.AdSoyad)
            </td>

            <td>
                <img src="@Model.Foto" alt="@Model.AdSoyad" class="img" />
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = Model.UyeId })
            </td>
        </tr>

    </table>
</div>
<style>

 #muslumTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #muslumTable td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #muslumTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #muslumTable tr:hover {
            background-color: #ddd;
        }

        #muslumTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #00b9bf;
            color: white;
        }
   .img {
border-radius: 20%;
    width: 75px;
}
</style>